:host {
    display: block;
    position: relative;

    .buttons {
        display: flex;
        opacity: 0;
        transition: all 0.25s;

        &.show {
            opacity: 1;
        }

        button {
            flex: 1;
            height: 30px;
            max-width: 40px;
            border: 0;
            background-color: transparent;
            padding: 0;
            outline: none;

            svg {
                height: 100%;
                max-width: 100%;
            }
        }
    }


    #editor {
        position: absolute;
        top: 40px;
        bottom: 0;
        width: 100%;
        overflow: auto;
        border: none;
        outline: none;
    }
}


:host-context([minimal]) {
    button {
        display: none;

        &#control-bold,
        &#control-italic,
        &#control-underline {
            display: inline-block;
        }
    }
}
